<div class="container my-4">
  <form class="form" [formGroup]="bookForm" (ngSubmit)="saveBook()">
    <h1 class="text-center">Add Book</h1>
    <div class="form-group">
      <label for="title">Title:</label>
      <input type="text" class="form-control" formControlName="title" name="title" placeholder="Enter title"
        [ngClass]="{ 'is-invalid': submitted && f.title.errors }">
      <div *ngIf="submitted && f.title.errors" class="invalid-feedback">
        <div *ngIf="f.title.errors.required">Title is required</div>
        <div *ngIf="f.title.errors.maxlength">Title must be less than 30 characters</div>
      </div>
    </div>
    <div class="form-group">
      <label for="category">Category:</label>
      <select name="" id="" class="form-control" formControlName="category" name="category" 
        [ngClass]="{ 'is-invalid': submitted && f.category.errors }">
        <option [value]="category.name" *ngFor="let category of categories">{{category.name}}</option>
      </select>
      <div *ngIf="submitted && f.category.errors" class="invalid-feedback">
        <div *ngIf="f.category.errors.required">Category is required</div>
      </div>
    </div>
    <div class="form-group">
      <label for="category">Description:</label>
      <textarea class="form-control" placeholder="Enter description" 
        rows="5" name="description" formControlName="description"
        [ngClass]="{ 'is-invalid': submitted && f.description.errors }">
      </textarea>
      <div *ngIf="submitted && f.description.errors" class="invalid-feedback">
        <div *ngIf="f.description.errors.required">Description is required</div>
      </div>
    </div>
    <button type="submit" class="btn add-book btn-primary">Submit</button>
  </form>
</div>

<div class="container" *ngIf="books">
  <h1 class="text-center">Book List <span>({{books.length}})</span></h1>
  <div class="card my-3" *ngFor="let book of books">
      <div class="card-body">
        <p>
          <span>Title: </span>
          <span>{{book.title}} </span> 
          <span>({{book.category}})</span>
        </p>
        <p>
          <span>Description:</span> 
          <span>{{book.description}}</span>
        </p>
      </div>
    </div>
</div>